body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.nav-item{
    align-items:right;
    justify-content: end;
}

.button1{
    border: none;
    background-color:#A82C4B;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) ;
    font-size: small;
}

.button2{
    border: none;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
    font-size: small;

}

.image2{
    height:300px;
    width:400px;
    margin-right:400px;
}

.section2{
    row-gap: 20px;
}

.image3{
    height:300px;
    width:400px;
    margin-left: 50px;
    border-radius: 20px;
    box-shadow: 0 10px 26px 0 rgba(0,0,0,0.2) ;
}

.image4{
    height:300px;
    width:400px;
}